#header {
    font-size: 50px;
    color: gray;
}

.link {
    color: lightblue;
}

.lorem1 {
    font-style: italic;
}

.lorem2 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
}