.kiwi {
    color: rgb(12, 182, 12);
}

.manzana {
    color: rgb(187, 12, 12);
}

.banana {
    color: rgb(230, 230, 23);
}
.uva {
    color: rgb(152, 72, 228);
}

.arandano {
    color: rgb(93, 6, 233);
}

.naranja {
    color: rgb(231, 152, 4);
}

.pera {
    color: rgb(172, 211, 100);
}

.ciruela {
    color: rgb(150, 65, 150);
}

.melon {
    color: rgb(186, 214, 61);
}

.mango {
    color: rgb(255, 208, 0);
}